{% extends 'base.html' %}

{% block title %}User List{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>User List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User_id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Full Name</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.full_name }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <a href="{% url 'user:user_detail' user.user_id %}" class="btn btn-info btn-sm">Details</a>
                    <a href="{% url 'user:user_edit' user.user_id %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'user:user_delete' user.user_id %}" class="btn btn-danger btn-sm">Delete</a>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'user:user_add' %}" class="btn btn-primary">Add New User</a>
</div>
{% endblock %}
