{% extends 'base.html' %}

{% block title %}{{ test_group.test_group_name }} Details{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Test Group Details</h2>
    <p><strong>Test Group ID:</strong> {{ test_group.test_group_id }}</p>
    <p><strong>Test Group Name:</strong> {{ test_group.test_group_name }}</p>
    <p><strong>Weight:</strong> {{ test_group.weight }}</p>
    <a href="{% url 'test_group:test_group_list' %}" class="btn btn-primary">Back to Test Group List</a>
</div>
{% endblock %}
