{% extends "base.html" %}

{% block title %}Test Group List{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Test Group List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Test Group ID</th>
                <th>Test Group Name</th>
                <th>Weight</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for test_group in test_groups %}
            <tr>
                <td>{{ test_group.test_group_id }}</td>
                <td>{{ test_group.test_group_name }}</td>
                <td>{{ test_group.weight }}</td>
                <td>
                    <a href="{% url 'test_group:test_group_detail' test_group.test_group_id %}" class="btn btn-info btn-sm">Details</a>
                    <a href="{% url 'test_group:test_group_edit' test_group.test_group_id %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'test_group:test_group_delete' test_group.test_group_id %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'test_group:test_group_add' %}" class="btn btn-primary">Add New Test Group</a>
</div>
{% endblock %}
