{% extends "base.html" %}

{% block title %}Test List{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Test List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Test ID</th>
                <th>Test Name</th>
                <th>Course</th>
                <th>Test Group</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            {% for test in tests %}
            <tr>
                <td>{{ test.test_id }}</td>
                <td>{{ test.test_name }}</td>
                <td>{{ test.course }}</td>
                <td>{{ test.test_group }}</td>
                <td>
                    <a href="{% url 'test_group:test_detail' test.test_id %}" class="btn btn-info btn-sm">Details</a>
                    <a href="{% url 'test_group:test_edit' test.test_id %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'test_group:test_delete' test.test_id %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'test_group:test_add' %}" class="btn btn-primary">Add New Test</a>
</div>
{% endblock %}
