<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Learning Management System{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% block extra_css %}{% endblock %}

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'main:home' %}">FSA</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                {% for group in module_groups %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="{{ group.id }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ group.group_name }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="{{ group.id }}">
                            {% for module in group.modules.all %}
                           <a class="dropdown-item" href="{% url module.module_url %}"> <i class="{{ module.icon }}"></i> &nbsp;{{ module.module_name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
            
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <!-- Thay thế liên kết <a> bằng một form POST để logout -->
                        <form action="{% url 'account:logout' %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="nav-link btn btn-link" style="display: inline; padding: 0; border: none; background: none;">
                                Logout
                            </button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:register' %}">Register</a> <!-- Thêm liên kết Register ở đây -->
                    </li>
                {% endif %}
            </ul>       
            <button class="btn btn-primary" onclick="goBack()">&#x2190; Back</button>  
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
